

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.accordion__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 25px;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  width: 750px;
  /* box-shadow: 32px 8px 32px rgba(215, 215, 215, 0.1); */
  border-top: 4px solid transparent;
  background-color: #1F2937;
}

.accordion__header {
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
}
.accordion__header:hover {
  background: #1C2331;
}

.accordion__number {
  font-size: 20px;
  color: #ced4da;
}
.accordion__name {
  flex: 1;
  font-size: 20px;
  color : #fff;
}

.accordion__details {
  padding: 0 2rem;
  overflow: hidden;
  height: 0;
  color : #fff;
}
.accordion__details ul {
  font-size: 15px;
  padding: 1rem 2rem;
  list-style-type: circle;
}

.open {
  border-color: #007BFF;
}

.open .accordion__header,
.open .accordion__number {
  color : #007BFF;
}

.open .accordion__details {
  height: auto;
}